@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color:silver;
}

.header{
    color: white;
    background-color: rgb(141, 141, 140);
    margin: 20px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    margin: 20px;
    padding: 10px;
    width: 300px;
    background-color: beige;
    display:inline-table;
}

.container h3{
    font-size: 20px;
    color: rgb(194, 73, 3);
}

.container p{
    color: rgb(136, 7, 5);
    font-size: 20px;
}

p.fontSerif{
    font-family: serif;
}

p.fontSansSerif{
    font-family: sans-serif;
}

p.fontMonospace{
    font-family: monospace;
}

p.fontCustom{
    font-family: 'Dancing Script';
    font-size: 24px;
}


p.Bold{
    font-weight: bold;
}

p.Oblique{
    font-style: oblique;
}

p.Capitalize{
    text-transform: capitalize;
}

p.Overline{
    text-decoration: line-through;
}

.textContainer{
    margin: 20px;
    padding: 30px;
    background-color: rgb(245, 245, 220);
}

.textContainer h3{
    font-size: 20px;
    color: rgb(194, 73, 3);
    text-shadow: 5px 5px 12px #000000;
}

.textContainer p{
    color: rgb(136, 7, 5);
}

.textContainer p:hover{
    background-color: rgb(243, 243, 122);
    padding: 20px;
}

.publication{
    font-family: monospace;
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 0.05em;
    letter-spacing: 0.05em;
    text-align: justify;
    text-indent: 30px;
}

.publication::first-letter{
    font-size: 300%;
    font-weight: 500;
    text-shadow: 1px 2px 0px #000000;
}

.publication::first-line{
    font-weight: 600;
}
