@font-face {
    font-family: spaceInvaders;
    src: url("img/MachineStd-Bold.otf");
}

body{
    margin: 0;
    padding: 0;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container table{
    border-spacing: 10px;
}

.container  tr, td{
    padding: 10px;
    width: 25px;
    height: 25px;
}

.missile
{
    background-image: url("img/spaceship.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    transition: transform .2s ease-in-out;
}

.missile:not(.used):hover{
    transform: translateX(-15px) rotate(-90deg); 
}

.used{
    opacity: 25%;
}

.package{   
    background-image: url("img/invader.svg");
    background-size: cover;
    background-repeat: no-repeat;    
}

.building{
    background-image: url("img/building.png");
    background-size: cover;
    background-repeat: no-repeat;    
}

/*I added this class in case i'd like to add special graphic for destoryed building*/
.building-destroyed{
    opacity: 50%;
}

.logo{
    height: 30vh;
    width: 30%;
    margin-bottom: -5vh;
    margin-top: -3vh;
}


.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls .game-controls{
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    gap: 25px;
}

.controls .game-controls button{
    color: white;
    width: 100px;
    padding: 5px 0px;
    background-color: navy;
    border: 2px solid blue;
    transition: all .2s ease-in-out;
}
.controls .game-controls button:hover{
    color: white;
    background-color: rgb(0, 0, 194);
    border: 2px solid rgb(50, 50, 242);
    box-shadow: 0px 0px 20px orangered;
}

.controls .game-options{
    border: 5px solid white;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.661);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    margin-bottom: 50px;

    background-color: rgba(0, 0, 0, 0.545);
}

.game-options legend{
    font-family: fantasy;
    font-size: 1.2rem;
    padding: 10px;
}

.game-options span{
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 15px;
    justify-content: flex-end;
}

.game-options span input{
    width: 40%;
}

.game-options button{
    padding: 3px;
    background-color: orange;
    transition: all .2s ease-in-out;
}
.game-options button:hover{
    background-color: rgb(251, 101, 46);
    transform: scale(1.02);
}