body{
    background-color: transparent;
    font-family:'Courier New', Courier, monospace
}

.header{
    margin: 20px auto 10px auto;
    color: beige;
    text-align: center;
    font-size: 20pt;
}

.content{
    margin: 40px 30px 40px 30px;
}

.content h2{
    color: beige;
}

th, td{
    padding: 10px 10px 10px 10px;
    color: #111111;
}

th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 5px solid #e3ac06;
    border-top: 20px solid #e3ac06;
    text-align: left;
}

table{
    border-spacing: 3px;
    border-collapse: separate;
}


tr.even{
    background-color: #e3ac06;
}

tr{
    background-color: beige;
}

tr:hover{
    background-color: #fff204;
}

.money{
    text-align: right;
}

